/*EN ESTE CASO NOSOTROS ESTAMOS PONIENDO ESTE ENLACE DE GOOGLE PARA LA FUENTE DE NUESTRA PÁGINA*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*AHORA ESTAMOS REALIZANDO LA CONFIGURACIÓN DE LOS BORDES DE LA PÁGINA WEB COMO LA FUENTE DE LETRA LOS MÁRGENES, EL ESPACIO*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* EN ESTE CASO NOSOTROS ESTÁMOS ESTABLECIENDO UNAS REGLAS  DE COLORES AL BODY PARA POSTERIORMENTE EL JS */
body {
  background-color: white;
  color: black;
}
/* ESTA REGLA QUE ESTAMOS CREANDO NOS SIRVE PARA  */
.dark-mode {
  background-color: black;
  color: white;
}
/* NOSOTROS AHORA ESTAMOS REALIZANDO  LA CONFIGURACIÓN DEL HEADER PARA LA COMPATIBILIDAD DE LA PÁGINA WEB*/
.header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
}
/* AHORA NOSOTROS ESTAMOS ESTABLECIENDO  QUE SE ENCUENTRE LAS PALABRAS AL LADO DE OTRA JUNTO A OTRA PALBRA*/
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 992px;
}
/* AHORA ESTABLECEMOS EL COLOR DE LAS LETRAS COMO SI VA A EXISTIR LA DECORACIÓN*/
.nav-link {
  color: white;
  text-decoration: none;
}
/* POSTERIORMENTE ESTAREMOS EDITANDO LA POSICIÓN COMO  DE LA FUENTE (EN ESTE CASO ES UNA IMÁGEN PERO PARA QUE SE ENCUENRTE DE FORMA DE ALÍNEADO CON LAS DEMÁS PALABRAS HE TENIDO QUE HACER UN "FONT-SIZE")*/
.logo {
  font-size: 30px;
  padding: 0 40px;
  line-height: 80px;
}
/*AHORA ESTAMOS ESTABLECIENDO LAS "REFERENCIAS ENTRES LAS PALABRAS" EN ESTE CASO SERÍA EL "PADRE"*/
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
/*AHORA ESTAMOS ESTABLECIENDO LAS "REFERENCIAS ENTRES LAS PALABRAS" EN ESTE CASO SERÍA EL "HIJO"*/
.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
/* AHORA ESTAMOS ESTABLECINDO LA ALTURA QUE SE VAN HA ENCONTRAR LAS REFERENCIAS*/
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
/* EN ESTE CASO ESTAMOS REALIZANDO UNA DECORACIÓN  EN EL QUE EL MOUSE SE ENCUENTRE ENCIMA DE LAS PALABRAS "REFERENCIAS"*/
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #0957bd;
  transition: 0.5s;
}
/* AHORA ESTAMOS ESTABLECIENDO LAS REGLAS, COMO EL POSICIONAMIENTO, EL COLOR DEL "MENÚ HAMBURGUESA" */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
/*RESPOSIVE DEL HEADER*/
@media (max-width: 800px) {
  body {
    padding-top: 70px;
  }
  .header {
    height: 60px;
  }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #075db3;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
/* EN ESTE CASO ESTAMOS ESTABLECIENDO COLOR Y LA COLOCACIÓN DE LA LUPA*/
.fa-color {
  color: #0888f4;
  padding: 15px 10px;
}
/* EN ESTE CASO ESTAMOS AGREGANDO  LA MODIFICACIÓN DEL "ESPACIO" DE LA BÚSQUEDA*/
#color {
  background-color: #ffff;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  vertical-align: top;
  font-size: 15px;
  padding-left: 10px;
  z-index: -1;
}
/*AHORA REALIZAREMOS LA CONFIGURACIÓN  DE LOS "BENEFICIOS DEL GRUPO" PARA LA COMPATIBILIDAD*/
.flex-container3 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
/*AHORA ESTAMOS REALIZANDO LA CONFIGURACIÓN DE TODOS LOS <DIV> QUE SE ENCUENTRAN EN EL "FLEX-CONTAINER2" */
.flex-container3 > div {
  color: #1b6ab1;
  margin: 10px;
  padding: 10px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}
/* AHORA ESTAMOS ESTABLECIENDO DECORACIÓN AL BOTÓN DE "NIGHT-MODE"*/
button {
  padding: 10px 25px;
  background-color: #0888f4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0, 3s ease 0s;
}
@media (max-width: 790px) {
  .flex-container3 {
    display: none;
  }
}
/*AHORA MISMO NOSOTROS ESTAMOS AGREGANDO MODIFICACIONES DE LA IMÁGEN DE LA PORTADA*/
#portada_principal {
  padding-top: 1px;
  margin-left: auto;
  width: 150vh;
  margin-right: auto;
  margin-bottom: 24px;
  max-width: 100%;
  justify-content: center;
}
/*EN ESTE CASO  ESTAMOS AGREGANDO A LAS PALABRAS  "OASIS PROTOCOL | ROSE" CON TAMAÑO DE LETRA, EL COLOR, EL LUGAR QUE SE ENCUENTRA ETC.*/
#nombre_abajo_de_imagen {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 10vh;
}
#nombre_abajo_de_imagen h4 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 10vh;
}
/*EN ESTE CASO ESTAMOS AGREGANDO UN FONDO DE COLOR  COMO OTRAS CAARCTERÍSTICAS PARA  SE ENCUENTRE BIEN LA "TAPA DEL MERCADO"*/
#valor_del_mercado {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #0987f4;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}
/*EN ESTE CASO NOSOTROS ESTAMOS AGREGANDO UNOS ATRIBUTOS PARA QUE SE ENCUENTRE DE FORMA CORRECTA*/
.texto {
  position: relative;
  padding-top: 4vh;
  font-family: "Montserrat", sans-serif;
  z-index: -1;
}
/*AHORA NOSOTROS ESTAMOS ESTABLECIENDO ESTA IMAGEN  EN LA "IZQUIERDA" DEL TEXTO QUE SE ENCUENTRA EN EL CENTRO*/
.texto #ala_morada {
  position: absolute;
  left: 0px;
  top: 110px;
  z-index: -1;
}
/*AHORA ESTÁMOS ESTABLECIENDO UNA REGLAS ESPECÍFICAS PARA QUE SE ENCEUNTRE BIEN LA COMPATIBILIDAD*/
.texto .presentación {
  font-size: 24px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}
/*AHORA ESTAMOS AGREGANDO LAS MODIFICACIONES A LAS <P> COMO EL COLOR, TAMAÑO ETC.*/
.texto .presentación p {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
  color: #0987f4;
}
/*AHORA NOSOTROS ESTAMOS ESTABLECIENDO ESTA IMAGEN  EN LA "DERECHA" DEL TEXTO QUE SE ENCUENTRA EN EL CENTRO*/
.texto #ala_verde {
  position: absolute;
  right: 0px;
  top: 130px;
  z-index: -1;
}
@media (max-width: 800px) {
  .texto #ala_morada {
    display: none;
  }
  .texto #ala_verde {
    display: none;
  }
}
/*AHORA VAMOS A ESTABLECER  LAS REGLAS DEL <H1>*/
.texto .presentación h1 {
  padding-bottom: 4.2vh;
  padding-top: 25px;
}
/*EN ESTE CASO ESTAMOS AGREGANDO EL TAMAÑO DE LA IMAGEN*/
.texto .presentación img {
  width: 5%;
}
/*AHORA NOSOTROS ESTAMOS AGREGANDO ATRIBUTOS AL APARTADO DE LA  "TECNOLOGÍA"*/
.titulo_del_medio {
  padding-top: 12vh;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  color: black;
  padding-bottom: 10vh;
  font-family: "Montserrat", sans-serif;
}
.titulo_del_medio h2 {
  color: white;
}
/*AHORA ESTAMOS CONFIGURANDO  EL "GRID-CONTAINER" PARA LA COMPATIBILIDAD ENTRE LOS <DIV>*/
/* EN EL APARTADO "Grid-template-columns" NOS HA AYUDADO HA QUE EXISTA EL RESPONSIVE SIN NINGUNA  AYUDA DE UNA AQUERY */
.grid-container {
  justify-content: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 410px 410px 410px;
  grid-template-rows: 410px 410px 410px;
  height: 80vh;
}
/*AHORA ESTAMOS REALIZANDO LA CONFIGURACIÓN DE TODOS LOS <DIV> QUE SE ENCUENTRAN EN EL "GRID-CONTAINER" */
.grid-container div {
  text-align: left;
  border: 5px;
  color: white;
  padding-left: 19px;
}
/*POSTERIORMENTE ESTAREMOS REALIZANDO LA CONFIGURACIÓN DE LA ETIQUETA <H3> DEL "GRID-CONTAINER*/
.grid-container div h3 {
  font-size: 30px;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  color: #0987f4;
}
/*POSTERIORMENTE ESTAREMOS REALIZANDO LA CONFIGURACIÓN DE LA ETIQUETA <P> DEL "GRID-CONTAINER"*/
.grid-container div p {
  font-size: 20px;
  margin: auto;
  padding-top: 28px;
  font-family: "Montserrat", sans-serif;
  color: #0987f4;
}
/*AHORA VAMOS HA REALIZAR LA CONFIGURACIÓN DE LA IMAGEN DEL "GRID-CONTAINER" */
.grid-container img {
  width: 16%;
}
/* EN ESTE CASI ESTÁMOS REALIZANDO EL RESPONSIVE DEL GRID-CONTAINER*/
@media (max-width: 1320px) {
  .grid-container {
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 80vh;
    margin: 3 10px;
  }
}
/*POSTERIORMENTE ESTABLECEREMOS ATRIBUTOS AL TÍTULO "PARTNERS"*/
.titulo_del_final {
  font-size: 40px;
  text-align: center;
  padding-top: 20vh;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .titulo_del_final {
    padding-top: 550px;
  }
}
/*AHORA REALIZAREMOS LA CONFIGURACIÓN  DE LOS "BENEFICIOS DEL GRUPO" PARA LA COMPATIBILIDAD*/
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*AHORA ESTAMOS REALIZANDO LA CONFIGURACIÓN DE TODOS LOS <DIV> QUE SE ENCUENTRAN EN EL "FLEX-CONTAINER2" */
.flex-container2 > div {
  color: #0987f4;
  padding: 40px;
  padding-bottom: 60px;
  font-family: "Montserrat", sans-serif;
}
/*AHORA VAMOS HA REALIZAR LA CONFIGURACIÓN DE LA IMAGEN DEL "FLEX-CONTAINER" */
.flex-container2 img {
  width: 200px;
  float: right;
  color: #ffffff;
}
/* EN ESTE CASI ESTÁMOS REALIZANDO EL RESPONSIVE DEL GRID-CONTAINER2*/
@media (max-width: 800px) {
  .flex-container2 {
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 250px;
  }
}

/*ESTABLECEMOS MODIFICACIONES A LAS RAMAS DE LOS PARTNERS*/
.subtitulos {
  font-size: 15px;
  text-align: center;
  padding-top: 1vh;
  font-family: "Montserrat", sans-serif;
  color: #0987f4;
}
/*EN ESTA CASO ESTAMOS REALIZANDO EL RESPONSIVE DE LOS SUBTITULOS*/
@media (max-width: 800px) {
  .subtitulos {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
  }
}
/*NOSOTROS AHORA ESTAMOS AGREGANDO ATRIBUTOS AL TITULO "AYUDA"*/
.acords {
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* POSTERIORMENTE ESTAMOS DANDO COLOR, ATRIBUTOS, ESPECIFICACIONES, TIPO DE TEXTO MARGEN A LOS TITULOS QUE SE VAN HA ENCONETRAR EN LOS BOTONES */
.acordeon {
  background-color: #0769e9;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  margin: 0 10;
}
/* AGREGAMOS ESPECIFICACIONS DEL TIPO DE LETRA COMO DE LA DISTRIBUCIÓN DEL TEXTO AUE SE VA HA ENCONTRAR "DENTRO" DE LOS BOTONES */
.panel {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 60px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/*POSTERIORMENTE ESTABLECEREMOS LAS REGLAS AL BOTÓN "SUBIR"*/
#subir {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 5px;
  height: 50px;
  border-radius: 100%;
  background-color: #0888f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  margin: 0 10;
  padding-right: 50px;
}

/*A PARTIR DE AQUÍ ESTABLECEREMOS ATRIBUTOS EN GENERAL HA TODO EL FOOTER*/
.footer {
  width: 100%;
  background-color: #eaf0f4;
}
/* ESTABLECEMOS CARACTERÍSTICAS BÁSICAS DE LA SECCIÓN  PRINCIPAL DEL FOOTER*/
.footer .grupo_1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
/*ESTAMOS ESTABLECIENDO CARACTERÍSTICAS DONDE SE ENCONTRARÁ EL LOGO DE OASIS */
.footer .grupo_1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*ESTABLECEMOS EL TAMAÑO DE LA IMAGEN DEL LOGO */
.footer .grupo_1 .box figure img {
  width: 250px;
}
/*ESTAMOS ESTABLECINDO CARACTERÍSTICAS DEL <H2> DEL FOOTER */
.footer .grupo_1 .box h2 {
  color: #98a3b6;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
/*ESTAMOS ESTABLECINDO CARACTERÍSTICAS DEL <P> DEL FOOTER */
.footer .grupo_1 .box p {
  color: #98a3b6;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
/*ESTAMOS ESTABLECINDO CARACTERÍSTICAS DE LOS ENLACES*/
.footer .grupo_1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
/*ESTABLECEMOS EL COLOR DE LOS ICONOS DE LAS REDES SOCILES*/
.footer .grupo_1 .red-social .fa {
  color: #98a3b6;
}
/*ESTABLECEREMOS UNA PEQUEÑA ANIMACIÓN QUE EL MOUSE SE ENCUENTRE ENCIMA DEL EMOTICONO SE ENCUENTRE DE COLOE "AZUL" EL EMOTICONO*/
.footer .grupo_1 .red-social a:hover {
  color: #2596be;
}
/*ESTABLECEMOS EL FONDO DE COLOR DEL GRUPO2 DEL FOOTER "LA PARTE SECUNDARIA"*/
.footer .grupo_2 {
  background-color: #2596be;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
/*ESTABLECEMOS CARACTERÍSTICAS DE LAS PALABRAS CON LA EIQUETA EN ESTE CASO EL TAMAÑO */
.footer .grupo_2 small {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
/*APARTIR DE AQUÍ HEMOS REALIZADO EL RESPONSIVE DEL FOOTER */
@media screen and (max-width: 800px) {
  .footer .grupo_1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
